@use '../variables.scss' as vars;
.custom_input {
    .p-inputtext {
        height: vars.$commonHeight;
        font-weight: vars.$commonFontWeight;
        font-size: vars.$commonFontSize;
        border-radius: vars.$commonRadius;
    }
    .p-disabled, .p-component:disabled {
        opacity: 1;
        background-color: #f8f9fa;
    }
    .p-inputgroup-addon {
        height: vars.$commonHeight;
        font-weight: vars.$commonFontWeight;
        font-size: vars.$commonFontSize;
    }
}
.custom_input_password {
    .p-inputtext {
        height: vars.$commonHeight;
        font-weight: vars.$commonFontWeight;
        font-size: vars.$commonFontSize;
        border-radius: vars.$commonRadius;
        width: 100%;
    }
    .p-disabled, .p-component:disabled {
        opacity: 1;
        background-color: #f8f9fa;
    }
    .p-inputgroup-addon {
        height: vars.$commonHeight;
        font-weight: vars.$commonFontWeight;
        font-size: vars.$commonFontSize;
    }
}
.password-form-field{
    .p-password{
        width: 100%;
    }
}