@use '../variables.scss' as vars;

.custom-textArea {
    .p-inputtextarea {
        font-weight: vars.$commonFontWeight;
        font-size: vars.$commonFontSize;
        border-radius: vars.$commonRadius;
    }
}